.event-container {
    height: 600px;
    padding: 10px;
    padding-top: 90px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.event-container img {
    height: 200px;
}